# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
node_modules


# production
/front-end/dist
/front-end/dev-dist


# misc
/front-end/node_modules
/front-end/.DS_Store
/front-end/*.local 
/front-end/.env.development.local
/front-end/.env.test.local
/front-end/.env.production.local

/front-end/npm-debug.log*
/front-end/yarn-debug.log*

**/yarn-error.log*
